.concept-sharing-img{background: image-url("concept-sharing.png") no-repeat top left; cursor:pointer; }
.concept-sharing-img-edit-active{ background-position: 0 0; width: 16px; height: 16px; } 
.concept-sharing-img-edit{ background-position: 0 -66px; width: 16px; height: 16px; } 
.concept-sharing-img-user-group{ background-position: 0 -132px; width: 16px; height: 16px; } 
.concept-sharing-img-user{ background-position: 0 -198px; width: 16px; height: 16px; } 
.concept-sharing-img-view-only-active{ background-position: 0 -264px; width: 16px; height: 16px; } 
.concept-sharing-img-view-only{ background-position: 0 -330px; width: 16px; height: 16px; }
.concept-sharing-table-container{max-height: 350px; overflow: auto; }